<ion-header>
    <ion-toolbar style="border-bottom: 3px solid green;">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Planting Seasons</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="filter"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/season-form" routerDirection="forward">
        <ion-fab-button color="success">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-virtual-scroll [items]="records" approxItemHeight="320px">
        <ion-item *virtualItem="let itm; let itemBounds = bounds;" (click)="open(itm)">
            <ion-label>
                <h2>{{itm.datePlanted}} | {{itm.projectedHarvestDate}}</h2>
                <h2>{{itm.farm}} | {{itm.farmer}}</h2>
                <p>Variety: {{itm.variety}}</p>
                <h3>Geolocation: {{itm.longitude}} | {{itm.latitude}}</h3>
            </ion-label>
            <ion-badge color="medium" slot="end">{{itm.expectedQuantity}}</ion-badge>
        </ion-item>
    </ion-virtual-scroll>
</ion-content>