<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="lndsqr">
        <ion-title>
            Profile
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <div class="profile-image">
            <img class="img-responsive" [src]="profile.image || 'http://via.placeholder.com/100x100'">
        </div>
        <div style="margin: 10px;">
            <!--<button ion-button round outline (click)="selectPhoto()">Select Photo</button>-->
            <button ion-button outline icon-start color="grey" (click)="changeImage()">
                <ion-icon name='md-image' is-active="false"></ion-icon>
                Change
              </button>
        </div>
        <ion-item-divider color="light">
            <h2 item-start>
                Basic Information
            </h2>
            <ion-note item-end color="lndsqr">
                <ion-icon name="md-create" (click)="UpdateProfile()">
                </ion-icon>
            </ion-note>
        </ion-item-divider>
        <ion-item>
            <h2>{{profile.userType}}</h2>
            <ion-note item-end>User Type</ion-note>
        </ion-item>
        <ion-item>
            <h2>{{profile.name}}</h2>
            <ion-note item-end>Name</ion-note>
        </ion-item>
        <ion-item>
            <h2>{{profile.email}}</h2>
            <ion-note item-end>Email</ion-note>
        </ion-item>
        <ion-item>
            <h2>{{profile.phoneNumber}}</h2>
            <ion-note item-end>Phone</ion-note>
        </ion-item>
        <ion-item>
            <h2>{{profile.dateOfBirth | date:'mediumDate'}}</h2>
            <ion-note item-end>Date Of Birth</ion-note>
        </ion-item>
        <ion-item>
            <h2>{{profile.gender}}</h2>
            <ion-note item-end>Gender</ion-note>
        </ion-item>
        <ion-item-divider color="light">
            <h2 item-start>
                Additional Information
            </h2>
        </ion-item-divider>
        <ion-item>
            <h2>{{profile.city}}</h2>
            <ion-note item-end>City</ion-note>
        </ion-item>
        <ion-item>
            <h2>{{profile.suburb}}</h2>
            <ion-note item-end>Suburb</ion-note>
        </ion-item>
        <ion-item>
            <p>Residential Address:</p>
            <p>{{profile.residentialAddress}}</p>
        </ion-item>
        <div [hidden]="profile.userType != 'Student'">
            <ion-item>
                <h2>{{profile.school}}</h2>
                <ion-note item-end>School</ion-note>
            </ion-item>
            <ion-item>
                <h2>{{profile.studentIdNo}}</h2>
                <ion-note item-end>Student Id No.</ion-note>
            </ion-item>
            <ion-item>
                <h2>{{profile.studentStatus}}</h2>
                <ion-note item-end>Student Status</ion-note>
            </ion-item>
            <ion-item>
                <h2>{{profile.hallOfResidence}}</h2>
                <ion-note item-end>Hall</ion-note>
            </ion-item>
        </div>
        <div [hidden]="profile.userType != 'NssPersonnel'">
            <ion-item>
                <h2>{{profile.nssNumber}}</h2>
                <ion-note item-end>NSS No.</ion-note>
            </ion-item>
            <ion-item>
                <h2>{{profile.district}}</h2>
                <ion-note item-end>District</ion-note>
            </ion-item>
        </div>
        <div [hidden]="profile.userType != 'Professional'">
            <ion-item>
                <h2>{{profile.employmentType}}</h2>
                <ion-note item-end>Employment Type</ion-note>
            </ion-item>
            <div [hidden]="profile.employmentType == 'NotEmployed' || profile.employmentType == 'SelfEmployed'">
                <ion-item>
                    <h2>{{profile.employerName}}</h2>
                    <ion-note item-end>Employer</ion-note>
                </ion-item>
                <ion-item>
                    <p>Employer Address:</p>
                    <p>{{profile.employerAddress}}</p>
                </ion-item>
            </div>
            <ion-item>
                <h2>{{profile.nationality}}</h2>
                <ion-note item-end>Nationality</ion-note>
            </ion-item>
        </div>



        <ion-item-divider color="light">
            <h2 item-start>
                Identifications
            </h2>
            <ion-note item-end color="lndsqr">
                <ion-icon name="md-add" (click)="AddId()">
                </ion-icon>
            </ion-note>
        </ion-item-divider>
        <ion-item [hidden]="profile.identifications && profile.identifications.length > 0">
            No Ids Added
        </ion-item>
        <ion-item *ngFor="let id of profile.identifications" (click)="UpdateId(id)">
            <ion-row>
                <ion-col>
                    <h2 style="text-align: left;">{{id.number}}</h2>
                    <p style="text-align: left; font-size: 1.6rem;">
                        {{id.type}}
                    </p>
                </ion-col>
                <ion-col>
                    <p style="text-align: right; margin-bottom: -5px;">
                        {{id.expiryDate | date:'mediumDate'}}
                    </p>
                    <p style="text-align: right; margin-bottom: -5px;padding-top: 8px; color:green" [hidden]="!id.isVerified">
                        <ion-icon name='md-thumbs-up'></ion-icon>
                        Verified
                    </p>
                    <p style="text-align: right; margin-bottom: -5px;padding-top: 8px; color:red" [hidden]="id.isVerified">
                        <ion-icon name='md-thumbs-down'></ion-icon>
                        Not Verified
                    </p>
                </ion-col>
            </ion-row>
        </ion-item>

        <div [hidden]="profile.userType != 'Professional'">
            <ion-item-divider color="light">
                <h2 item-start>
                    Documents
                </h2>
                <ion-note item-end color="lndsqr">
                    <ion-icon name="md-add" (click)="AddDoc()">
                    </ion-icon>
                </ion-note>
            </ion-item-divider>
            <ion-item [hidden]="profile.identifications && profile.identifications.length > 0">
                No Documents Uploaded
            </ion-item>
            <ion-item *ngFor="let doc of profile.documents" (click)="UpdateDoc(doc)">
                <ion-row>
                    <ion-col>
                        <h2 style="text-align: left;">{{doc.type}}</h2>
                        <p style="text-align: left; font-size: 1.6rem;">
                            {{doc.createdAt | date:'mediumDate'}}
                        </p>
                    </ion-col>
                    <ion-col>
                        <p style="text-align: right; margin-bottom: -5px;padding-top: 8px; color:#035fb6">
                            {{doc.status}}
                        </p>
                    </ion-col>
                </ion-row>
            </ion-item>

        </div>

        <ion-item color="light" (click)="logout()">
            <ion-icon name="log-out" item-start color="danger"></ion-icon>
            <h2>Logout</h2>
        </ion-item>
    </ion-list>

</ion-content>