<ion-header>
    <ion-toolbar style="border-bottom: 3px solid green;">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sync Data</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Bankyekrom Data Sync Page</ion-card-subtitle>
            <ion-card-title>Sync Data</ion-card-title>
        </ion-card-header>
        <ion-card-content [hidden]="syncStarted">
            Press Sync now to push the data captured to the Bankyekrom Servers.
            <section padding-top padding-bottom>
                <ion-button expand="block" color="success" (click)="beginSetup()">Sync Now</ion-button>
            </section>
        </ion-card-content>
        <ion-card-content [hidden]="!syncStarted">
            <ion-progress-bar type="indeterminate" color="danger" style="margin-bottom: 30px;"></ion-progress-bar>
            <ion-card-subtitle>{{activity}}</ion-card-subtitle>
            <ion-progress-bar type="indeterminate" reversed="true" color="danger" style="margin-top: 30px;"></ion-progress-bar>
        </ion-card-content>
    </ion-card>
</ion-content>