<ion-header>
    <ion-toolbar>
        <ion-title>App Setup</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card text-center>
        <img src="../../assets/images/loading.gif" />
        <ion-card-header text-left>
            <ion-card-subtitle>Bankyekrom</ion-card-subtitle>
            <ion-card-title>Initial Setup</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-progress-bar type="indeterminate" color="danger" style="margin-bottom: 30px;"></ion-progress-bar>
            <ion-card-subtitle>{{activity}}</ion-card-subtitle>
            <ion-progress-bar type="indeterminate" reversed="true" color="danger" style="margin-top: 30px;"></ion-progress-bar>
        </ion-card-content>
    </ion-card>
</ion-content>