<!--
  Generated template for the UpdateProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="lndsqr">
        <ion-title>Update Profile</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
        <ion-item>
            <ion-label stacked>User Type</ion-label>
            <ion-select [(ngModel)]="profile.userType">
                <ion-option *ngFor="let p of userTypes" [value]="p">{{p}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item-divider color="light">
            <h2 item-start>
                Basic Information
            </h2>
        </ion-item-divider>
        <ion-item>
            <ion-label stacked>Phone Number</ion-label>
            <ion-input type="tel" [(ngModel)]="profile.phoneNumber" placeholder="your phone number" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Full Name</ion-label>
            <ion-input type="text" [(ngModel)]="profile.name" placeholder="Full Name" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="email" [(ngModel)]="profile.email" placeholder="Email Address"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Date of Birth</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="profile.dateOfBirth"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label stacked>Gender</ion-label>
            <ion-select [(ngModel)]="profile.gender" value="Male">
                <ion-option value="Female">Female</ion-option>
                <ion-option value="Male">Male</ion-option>
            </ion-select>
        </ion-item>
        <ion-item-divider color="light">
            Additional Information
        </ion-item-divider>
        <ion-item>
            <ion-label stacked>Select City</ion-label>
            <ion-select [(ngModel)]="profile.cityId">
                <ion-option *ngFor="let p of cities" [value]="p.id">{{p.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>Suburb</ion-label>
            <ion-input type="text" [(ngModel)]="profile.suburb" placeholder="Suburb"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Residential Address</ion-label>
            <ion-textarea [(ngModel)]="profile.residentialAddress" placeholder="Address"></ion-textarea>
        </ion-item>
        <div [hidden]="profile.userType != 'Student'">
            <ion-item>
                <ion-label stacked>Select School</ion-label>
                <ion-select [(ngModel)]="profile.schoolId">
                    <ion-option *ngFor="let p of schools" [value]="p.id">{{p.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label stacked>Student Id Number</ion-label>
                <ion-input type="text" [(ngModel)]="profile.studentIdNo" placeholder="Student Id Number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Student Status</ion-label>
                <ion-select [(ngModel)]="profile.studentStatus">
                    <ion-option *ngFor="let p of studentStatuses" [value]="p">{{p}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label stacked>Hall of Residence</ion-label>
                <ion-textarea [(ngModel)]="profile.hallOfResidence" placeholder="Hall of Residence"></ion-textarea>
            </ion-item>
            <p style="text-align: center;color:#f53d3d;margin-bottom: 0px;">
                Remember to add your identification cards for credit assessment.
            </p>
        </div>
        <div [hidden]="profile.userType != 'NssPersonnel'">
            <ion-item>
                <ion-label stacked>NSS Number</ion-label>
                <ion-input type="text" [(ngModel)]="profile.nssNumber" placeholder="NSS Number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Select District</ion-label>
                <ion-select [(ngModel)]="profile.districtId">
                    <ion-option *ngFor="let p of districts" [value]="p.id">{{p.name}}</ion-option>
                </ion-select>
            </ion-item>
            <p style="text-align: center;color:#f53d3d;margin-bottom: 0px;">
                Remember to add your identification cards for credit assessment.
            </p>
        </div>
        <div [hidden]="profile.userType != 'Professional'">
            <ion-item>
                <ion-label stacked>Employment Type</ion-label>
                <ion-select [(ngModel)]="profile.employmentType">
                    <ion-option *ngFor="let p of empTypes" [value]="p">{{p}}</ion-option>
                </ion-select>
            </ion-item>
            <div [hidden]="profile.employmentType == 'NotEmployed' || profile.employmentType == 'SelfEmployed'">
                <ion-item>
                    <ion-label stacked>Employer Name</ion-label>
                    <ion-input type="text" [(ngModel)]="profile.employerName" placeholder="Employer Name"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label stacked>Employer Address</ion-label>
                    <ion-textarea [(ngModel)]="profile.employerAddress" placeholder="Address of Employer"></ion-textarea>
                </ion-item>
            </div>
            <ion-item>
                <ion-label stacked>Select Nationality</ion-label>
                <ion-select [(ngModel)]="profile.nationalityId">
                    <ion-option *ngFor="let p of nationalities" [value]="p.id">{{p.name}}</ion-option>
                </ion-select>
            </ion-item>
            <p style="text-align: center;color:#f53d3d;margin-bottom: 0px;">
                Remember to add your identification cards and upload your documents for credit assessment.
            </p>
        </div>
        <!--<ion-item-divider color="light">
            Identification
        </ion-item-divider>
        <ion-item>
            <ion-label stacked>ID Number</ion-label>
            <ion-input type="text" [(ngModel)]="profile.idNumber" placeholder="ID Number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Select Type</ion-label>
            <ion-select [(ngModel)]="profile.idType">
                <ion-option *ngFor="let p of idTypes" [value]="p">{{p}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>Date of Expiry</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="profile.idExpiryDate" max="2100"></ion-datetime>
        </ion-item>

        <ion-item-divider color="light">
            Employment Info
        </ion-item-divider>
        <ion-item>
            <ion-label stacked>Select Status</ion-label>
            <ion-select [(ngModel)]="profile.employmentStatus">
                <ion-option *ngFor="let p of empStatuses" [value]="p">{{p}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>Select Type</ion-label>
            <ion-select [(ngModel)]="profile.employmentType">
                <ion-option *ngFor="let p of empTypes" [value]="p">{{p}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>Employer</ion-label>
            <ion-input type="text" [(ngModel)]="profile.employerName" placeholder="Employer Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Employer Address</ion-label>
            <ion-textarea [(ngModel)]="profile.employerAddress" placeholder="Address"></ion-textarea>
        </ion-item>
        <ion-item-divider color="light">
            Extra Info
        </ion-item-divider>
        <ion-item>
            <ion-label stacked>Select Religion</ion-label>
            <ion-select [(ngModel)]="profile.religion">
                <ion-option *ngFor="let p of religions" [value]="p">{{p}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>Marital Status</ion-label>
            <ion-select [(ngModel)]="profile.maritalStatus">
                <ion-option *ngFor="let p of maritalStatuses" [value]="p">{{p}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>Educational Level</ion-label>
            <ion-select [(ngModel)]="profile.educationalLevel">
                <ion-option *ngFor="let p of eduLevels" [value]="p">{{p}}</ion-option>
            </ion-select>
        </ion-item>-->





        <br/>
        <button ion-button type="submit" block class="save-button" (click)="updateProfile()">Update</button>
    </ion-list>
</ion-content>